.navigation {
  border-bottom:1px solid lightgray;
  padding:16px;
  color:#555555;
}
.title {
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  color:#555555;
}
.navigation-link {
  font-size:14px;
  font-weight:normal;
  color:#555555;
  text-decoration:none;
  float:right;
  margin-left:20px;
}
.navigation-link.active {
  font-weight:bold;
}
.link {
  color:#555555;
  text-decoration:underline;
}
.nolink {
  color:#555555;
  text-decoration:none;
}
.header {
  padding:175px;
  font-size:48px;
  text-align:center;
}
.section {
  margin-bottom:30px;
}
.margined {
  margin-left:calc(50% - 300px);
  margin-right:calc(50% - 300px);
}
.margined-double {
  margin-left:calc(50% - 150px);
  margin-right:calc(50% - 150px);
}
body {
  margin:0px;
  color:#555555;
  font-size:14px;
  font-family:'Roboto', Arial, Sans-serif;
}
.card {
  box-sizing:border-box;
  padding:10px;
  border-radius:3px;
  border:1px solid lightgray;
  min-height:300px;
  cursor:pointer;
  margin-bottom:10px;
}
.card-header {
  font-size:22px;
  margin-bottom:10px;
}
.card-body {
  font-size:14px;
}
.card:hover {
  border:1px solid #AAAAAA;
  background:#EEEEEE;
  color:#444444;
}
.button {
  box-sizing:border-box;
  padding:8px 12px;
  border-radius:3px;
  color:white;
  background:#1e90ff;
  cursor:pointer;
  display:inline-block;
}
.button.alt {
  background:lightgray;
  color:#555555;
}
.center {
  text-align:center;
}
